.container{
    margin-top: 10px;
    height: 690px;
    width: 100%;
    display:grid;
    place-content: center;
    justify-content: center;
    text-align: center;
}

.container h2{
    color: black;
    font-family:'Poppins', sans-serif;
    text-transform: uppercase;
    margin-top: 10px;
}

.slide{
    height: 690px;
    width: 1920px;
    overflow: hidden;
}

.slide ul{
    padding: 0;
    display: flex;
    width: 400%;
    animation: slide 25s infinite cubic-bezier(0.55, 0.48, 0.37, 0.92);
}

body{
    background-color: #01FFE6;;
}

@keyframes slide{
    0% {margin-left: 0;}
    5% {margin-left: 0;}

    10% {margin-left: -100%;}
    15% {margin-left: -100%;}

    20% {margin-left: -200%;}
    25% {margin-left: -200%;}

    30% {margin-left: -300%;}
    35% {margin-left: -300%;}

    40% {margin-left: -400%;}
    45% {margin-left: -400%;}

    50% {margin-left: -500%;}
    55% {margin-left: -500%;}

    60% {margin-left: -600%;}
    65% {margin-left: -600%;}

    70% {margin-left: -700%;}
    75% {margin-left: -700%;}

    80% {margin-left: -800%;}
    85% {margin-left: -800%;}

    90% {margin-left: -900%;}
    100% {margin-left: -900%;}
}